# Groq API Configuration
# Get your free fast API key at https://console.groq.com
VITE_GROQ_API_KEY=

# PHP Backend Server API URL
VITE_PHP_API_URL= http://127.0.0.1:8000/api

# Supabase Configurations (Optional fallback)
VITE_SUPABASE_URL=https://kfeewinbsbjobxyvohvf.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_YrWMzgBM-tSgLNAsnDIm5A_tIIOuP0P
